@page "/"

<PageTitle>Home</PageTitle>

<h1>Desafio balta</h1>
<h5>
    Requisitos a serem seguidos:
</h5>



<ul class="list-group">

    <li class="list-group-item">Autenticação usando Identity</li>
    <li class="list-group-item">Pesquisa por cidade</li>
    <li class="list-group-item">Pesquisa por estado</li>
    <li class="list-group-item">Pesquisa por código (IBGE)</li>
</ul>

